#dock {
  position: absolute;
  bottom: 0;
  z-index: 2147483647 !important;
  height: 10rem;
  width: 100%;
  background: rgba(51, 51, 51, 0.5);
  transition: transform 0.2s ease;
}

#dock:not(.default-maximized) {
  transform: translateY(15rem);
}

#screen.software-button-enabled #dock {
  bottom: var(--software-home-button-height);
}

#dock .icon {
  display: inline-block;
  height: 10rem;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
}

