#quick-app-1, #quick-app-2 {
  display: inline-block;
  height: 4rem;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
}

/* Quick fixes for icons in landscape mode */
@media (orientation: landscape) {
  #quick-app-1 {
    top: 19%;
  }

  #quick-app-2 {
    top: 69%;
  }

  #quick-app-1, #quick-app-2 {
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
  }
}
