#quick-app-1, #quick-app-2 {
  display: inline-block;
  height: 4rem;
  width: 30%;
  background-repeat: no-repeat;
  background-size: auto 90%;
}

#quick-app-1 {
  background-position: center right;
}

#quick-app-2 {
  background-position: center left;
}

/* Quick fixes for icons in landscape mode */
@media (orientation: landscape) {
  #quick-app-1 {
    top: 19%;
  }

  #quick-app-2 {
    top: 69%;
  }

  #quick-app-1, #quick-app-2 {
    background-position: center center;
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
  }
}
