html {
  font-size: 10px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#timeline {
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-height: 150%;
}

#timeline li {
  display: block;
  width: 100%;
  min-height: 6rem;
  box-sizing: border-box;
  padding: 1rem 0.9rem 0.7rem;
  font-size: 1.5rem;
}

#timeline li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.07);
}

/* Individual Item Styles */
#timeline .xhuge {
  font-size: 5rem;
}

#timeline .huge {
  font-size: 3rem;
}

#timeline .title {
  font-size: 1.6rem;
  line-height: 2rem;
}

#timeline .meta {
  font-size: 1.4rem;
  color: #ccc;
}

#timeline .icon {
  float: left;
  height: 4rem;
  width: 4rem;
  margin-top: -0.2rem;
  margin-right: 1rem;
}

#timeline .horizon {
  text-align: center;
  font-style: italic;
}

#timeline .icon.climacon {
  font-size: 6rem;
  margin-top: -1.5rem;
}
